# fly.toml app configuration file generated for godot-linux-server-paid1 on 2025-11-10T15:48:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'godot-linux-server-paid1'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 10000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
